---
---

@import "minima";

.post-list {
    & > .post-item {
        & > .post-header {
            display: flex;
            align-items: center;
            margin-bottom: 24px;

            & > .post-title {
                flex-grow: 1;
                margin: 0;

                & > .post-link {
                    display: inline-block;
                    font-size: 18px;
                }
            }

            & > .post-meta {
                display: flex;
                gap: 15px;
                align-items: center;
                
                & > .post-language {
                    width: 18px;
                    height: 18px;
                    background-repeat: none;
                    background-size: contain;
                    display: inline-block;
                }
            }
        }

        & > .post-excerpt {
            position: relative;
            padding-left: 30px;
            font-size: 0.9rem;
            line-height: 1.8;
            background: -webkit-linear-gradient(#4c4c4c, #909090);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
}

.post {
    & > .post-content {
        line-height: 1.8;
        font-size: 18px;
        font-weight: 300;
    }
    
    & > .post-categories {
        display: block;

        & > span {
            display: inline-block;
            padding: 2px 8px;
            background-color: #ececec;
            font-family: monospace;
            font-size: 0.75rem;
            font-weight: 800;
            border-radius: 4px;
            cursor: default;

            &:not(:last-child) {
                margin-right: 15px;
            }
        }
    }
}
